<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="credential-list" class="table-responsive">
    <table class="table table-striped" th:object="${credentials}" id="credentialTable">
        <thead>
        <tr>
            <th style="width: 20%" scope="col"></th>
            <th style="width: 35%" scope="col">URL</th>
            <th style="width: 20%" scope="col">Username</th>
            <th style="width: 25%" scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="credential, credentialStat:${credentials}">
            <td>
                <button type="button" class="btn btn-success" th:attr="onclick=|showCredentialModal('${credential.credentialid}','${credential.url}','${credential.username}','${credential.password}')|">Edit</button>
                <a class="btn btn-danger" th:attr="onclick=|deleteCredential('${credential.credentialid}')|">Delete</a>
            </td>
            <th scope="row" th:text="${credential.url}">Example Credential URL</th>
            <td th:text="${credential.username}">Example Credential Username</td>
            <td th:text="${credential.password}">Example Credential Password</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>